:host{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background: rgb(150, 149, 133);
  
    .message{
      padding: 10px;
    }
  
    .message h3{
      padding: 0;
      margin-top: 0;
      margin-bottom: 5px;
    }
  
    .message div{
      padding: 2px;
    }
  
    .message button{
      background: rgba(50, 100, 255);
      outline: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .message button:hover{
      background: rgb(100, 100, 113);
    }
  }