:host {
    .container {
        clear: both;
        margin: 0 auto;
        text-align: left;
        padding-left: 10px;
        padding-top: 20px;
      
    }

    input {
        margin-bottom: 25px;
    }

  .true {
    color: green;
  }

  .false {
    color: red;
  }

  .micro {
    color: orange;
  }

  .microplus {
    color: blue;
  }

  .empty {
    color: black;
  }
}