<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
  <div class="searchbox">
    <input type="text" #search>
    <button (click)="search.value = filter(search.value, contentList)">SEARCH!</button>
    <div [ngClass]="{'true': search.value == 'There is a card with that title.', 
                    'false': search.value == 'There is no card with that title.'}" [innerHTML]="search.value"></div>
  </div>

  <div class="filter">
    <input type="number" #num placeholder="Enter a board ID:" required min="0" [max]="boardList.length - 1">
    <button (click)="getBoard(num.value)">Filter</button>
  </div>

  <div class="message">
    <app-messages>
    </app-messages>
  </div>

  <div class="micro">
    <app-content-list *ngFor="let item of (contentList | contentFilter: 'Microcontroller'); index as i; first as isFirst" [contentItem]="item" 
    [class.isFirst]="isFirst"></app-content-list>
  </div>

  <div class="microplus">
    <app-content-list *ngFor="let item of (contentList | contentFilter: 'Microcontroller+'); index as i; first as isFirst" [contentItem]="item" 
    [class.isFirst]="isFirst"></app-content-list>
  </div>

  <div class="empty">
    <app-content-list *ngFor="let item of (contentList | contentFilter); index as i; first as isFirst" [contentItem]="item" 
    [class.isFirst]="isFirst"></app-content-list>
  </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

