:host {
    .true {
        color: green;
    }

    .false {
        color: red;
    }

    .micro {
        color: red;
    }

    .microplus {
        color: blue;
    }

    .empty {
        color: green;
    }
}