:host { 
    display: block;
    width: 500px;
    margin: 15px 5px;
    border: 1px solid transparent;

    .container {
        clear: both;
        margin: 0 auto;
        text-align: center;
    }

    img {
        width: 75%;
        height: 75%;
        margin-top: 5px;
    }

    img:hover {
        cursor: pointer;
    }

    header {
        margin: 0;
        padding-bottom: 5px;
        font-weight: bold;
        font-size: 24px;
    }

    div.desc {
        margin: 5px 0px;
    }
}

:host.isFirst{
    border: 2px solid black;
}