<div class="container">
    <div class="title"><header>{{ contentItem ? contentItem.title : "" }}</header></div>
    <div class="desc">{{ contentItem ? contentItem.description : "" }}</div>
    <div class="creator">Created by: {{ contentItem ? contentItem.creator : "" }}</div>

    <div appHoverEffect styleType="underline" *ngIf="contentItem ? contentItem.type : ''" class="type">
        Type: {{ contentItem ? contentItem.type : "" }}
    </div>
    
    <div *ngIf="contentItem ? contentItem.tags : ''" class="tags">
        <ul>
            <span *ngFor="let tag of contentItem?.tags">
                <li appHoverEffect styleType="bold"#{{ tag }}></li>
            </span>
        </ul>
    </div>
    <div *ngIf="contentItem" class="imgURL">
        <img [src]="contentItem.imgURL != null ? contentItem.imgURL : 'https://www.arduino.cc/en/uploads/Trademark/ArduinoCommunityLogo.png'" (click)="clicked()">
    </div>
</div>