<mat-card class="container board-{{contentItem?.id}}">
    <mat-card-header>
        <mat-card-title>{{ contentItem ? contentItem.title : "" }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <div class="desc">{{ contentItem ? contentItem.description : "" }}</div>
    <div class="creator">Created by: {{ contentItem ? contentItem.creator : "" }}</div>

    <div appHoverEffect styleType="underline" *ngIf="contentItem ? contentItem.type : ''" class="type">
        Type: {{ contentItem ? contentItem.type : '' }}
    </div>

    <div *ngIf="contentItem?.tags" class="tags">
        <mat-chip-list aria-label="board tags" *ngFor="let tag of contentItem?.tags">
            <mat-chip>#{{tag}}</mat-chip>
        </mat-chip-list>
    </div>
</mat-card-content>
   
    <img mat-card-image [src]="contentItem.imgURL != null ? contentItem.imgURL : 'https://www.arduino.cc/en/uploads/Trademark/ArduinoCommunityLogo.png'" (click)="clicked()">
</mat-card>